<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Gets bootstrap header file -->
    <%- include("./partials/header.ejs") %>

    <title>Signin</title>
    <style>
        /*Small devices like phones  */
        @media (min-width: 300px) and (max-width: 768px) {

            #img {
                width: 90%;
                height: 100px;
                margin-left: 10%;
                margin-bottom: 5%;

            }            
        }


        /* Medium devices (tablets, less than 992px) */
        @media (min-width: 769px) and (max-width: 991.98px) {
            #img {
                width: 90%;
                height: 100px;
                margin-left: 10%;
                margin-bottom: 5%;

            }
        }

        /* Large devices like laptops */
        @media (min-width:992px) {

            #img {
                width: 100%;
                height: 100px;                
                margin-bottom: 5%;
            }
        }
    </style>
</head>

<body>

    <%- include("./partials/nav.ejs", {page: "class", user}) %>



    <img alt="Image result for uco logo&quot;" id="img" src="http://localhost:5000/images/enroll.png" />
    




    <% if(error) { %>

    <div align="center">
        <p style="color:red; "> <%= error %></p>

    </div>
    <% }  %>


        <form class="form-signin" action="/signin" method="POST">


            <table align="center">
                <thead>
                </thead>
                <tbody>
                    <tr>
                        <th></th>
                        <td></td>
    
                        <td colspan="1" align="right">
                            <label>Email: </label>
                        </td>
    
                        <td></td>
                        <td colspan="1">
                            <input type="email" class="form-control" id="email" name="email" minlength="4"
                                placeholder="Must Contain @">
                        </td>
                        <td></td>
    
                    </tr>
                    <tr>
                        <th></th>
                        <td></td>
                        <td colspan="1" align="right">
                            <label>Password: </label>
                        </td>
                        <td></td>
                        <td colspan="1">
                            <input type="password" class="form-control" id="password" name="pass" placeholder="Password">
                        </td>
                    </tr>
    
                    <tr>
                        <th></th>
                        <td></td>
                        <td></td>
                        <td colspan="2">
                            <button type="submit" id="button2" class="btn btn-primary">Sign In</button>
                        </td>
                    </tr>
                    <tr>
                        <th></th>
                        <td></td>
                        <td></td>
                        <td colspan="2">
                            <a href='/register'>Create Account</a>
                        </td>
                    </tr>
                    <tr>
                        <th></th>
                        <td></td>
                        <td></td>
                        <td colspan="2">
                            <a href='/signup'>Forgot Password</a>
                        </td>
                    </tr>
    
                </tbody>
            </table>   
    
            <br>
    
        </form>

      


    <!-- Gets bootstrap footer file -->
    <%- include("./partials/footer.ejs") %>
</body>

</html>