rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // This rule allows anyone on the internet to view, edit, and delete
    // all data in your Firestore database. It is useful for getting
    // started, but it is configured to expire after 30 days because it
    // leaves your app open to attackers. At that time, all client
    // requests to your Firestore database will be denied.
    //
    // Make sure to write security rules for your app before that time, or else
    // your app will lose access to your Firestore database
    //for document product
    match /products/{product} {
    	allow read: if true;
      allow write: if request.auth != null && 
      								request.auth.token.email =='showell2121@gmail.com'
      //allow read, write: if request.time < timestamp.date(2020, 2, 22);
    }
    //document order
    match /orders/{order} {
    	allow create: if request.auth != null;
      allow read, update, delete: if request.auth != null && 
      								request.auth.uid == resource.data.uid; //user id and doc id
      
    }
    //document order
    match /abouts/{about} {
    	allow create: if true;
      allow read, update, delete: if true;
      
    }
  }//end of match /database/
}